<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <title>Create</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/internal_posts.css' %}" type="text/css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  </head>
  <body>
    {% load socialaccount %}
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo" style="padding-left: 20px;">TLDR</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="mobile.html">Mobile</a></li>
          {% if user.is_authenticated %}
            <li><a href="badges.html">How It Works</a></li>
            <li><a href="mobile.html">{{ user.username }}</a></li>
            <li><a href="{% url 'account_logout' %}">Log out</a></li>
          {% else %}
            <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
            <li><a href="badges.html">How It Works</a></li>
            <li><a href="{% url 'account_login' %}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="sass.html">Sign UP</a></li>
      <li><a href="badges.html">How It Works </a></li>
      <li><a href="collapsible.html">Login</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
    {% block content %}{% endblock %}
    <script type="text/javascript" src="{% static 'js/internal_post.js' %}"></script>
  </body>
</html>