<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <title>Create</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/internal_posts.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  </head>
  <body>
    {% block content %}{% endblock %}
    <script type="text/javascript" src="{% static 'js/internal_post.js' %}"></script>
  </body>
</html>