{% extends 'app_base.html' %}
{% block content %}
  <div class="container row">
  	{% for query in queryset_list %}
      <div class="col s12 m12 view_content">
        <h3 class="grey-text">{{ query.title }}
          <div class="fixed-action-btn horizontal"
          style="position:relative; float:right;bottom:-5px; right:10px">
          <a class="btn-floating btn-medium white">
            <i class="medium material-icons black">dehaze</i>
          </a>
          <ul>
            <li><a href="/create" class="btn-floating blue"><i class="material-icons">add</i></a></li>
            <li><a href="/{{query.id}}/update" class="btn-floating green"><i class="material-icons">edit</i></a></li>
            <li><a href="#modal1" class="btn-floating red modal-trigger"><i class="material-icons">delete</i></a></li>
          </ul>
        </div>
        </h3>
        <p>{{ query.content }}</p>
        <!-- model for delete Confirmation -->
        <div id="modal1" class="modal" style="opacity:0.1">
          <div class="modal-content">
            <h5>Are You Sure..! do you want delete this post ?</h5>
            <div class="chip">{{ query.title }}</div>
            <span>Once Delete it won't get back.</span>
          </div>
          <div class="modal-footer">
            <a href="/{{query.id}}/delete" class="modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>   
{% endblock content %}